<header class="header">
  <h1 class="header__title">{{'general.title'  | translate}}</h1>
  <h3 class="header__subtitle">{{'general.subtitle' | translate}}</h3>
</header>
<section class="main">
  <div class="main__showcase">
    <p [translate]="'general.hello'"></p>
    <p [translate]="'general.my_name_is_x'" [translateParams]="{name: 'Laszlo Csiki'}"></p>
    <p>{{'lorem_ipsum' | translate}}</p>
    <p [innerHTML]="'general.html_code_text' | translate"></p>
    <p [innerHTML]="'missing_hu' | translate"></p>
  </div>
  <div class="main__select">
    <label for="lang-select">{{'language' | translate}}</label>
    <select id="lang-select" [formControl]="languageControl">
      <option *ngFor="let lang of languageList$ | async" [value]="lang">{{lang | translate}}</option>
    </select>
  </div>
</section>
<footer>

</footer>
